/*font-family: 'Exo 2', sans-serif;*/

.app {
  text-align: center;
  background-color: black;
}

img.kensho-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 100px;
}

h1.title {
  margin: 250px auto 10px auto;
  font-size: 80px;
  font-family: 'Exo 2', sans-serif;
  /*font-family: 'Oswald', sans-serif;*/
  /*font-family: 'Tenali Ramakrishna', sans-serif;*/
  /*font-family: 'Original Surfer', cursive;*/
  /*font-family: 'Trochut', cursive;*/
  /*font-family: 'Griffy', cursive;*/
}

h3.tagline {
  margin: 5px auto 20px auto;
  font-size: 22px;
}

section.hero {
  background: url('../public/patagonia-background-cropped.jpg') no-repeat fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 100vh;
  /*width: 100vh;*/
  /*padding: 100px 50px 260px 20px;*/
  color: white;
}

footer.footer {
  /*background-color: #222;*/
  background: linear-gradient(to bottom, black, #000000);
  height: 100px;
  padding: 40px 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul.link-container {
  margin: 0 20px;
}

li.link {
  /*font-size: 22px;*/
  margin: 5px 0;
}



/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
